body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

#canvas {
    border: 1px solid rgb(214, 214, 214);
    outline: none;
}

#stopGame {
    padding: 8px 16px;
    background-color: #fafafa;
    border-radius: 4px;
    cursor: pointer;

    &:active {
        background-color: lightgray;
    }
}